<div class="container-fluid pb-5">
    <div class="container-lg pb-xl-5">
        <div class="advantages advantages-sm row row-cols-2 gy-4 gx-5 row-cols-sm-3 row-cols-lg-5">
            {% for advantage in advantages %}
                <div class="advantage col position-relative">
                    <div class="d-flex flex-column gap-2 align-items-center">
                        {% if advantage.icon %}
                            <p class="icon mb-0 text-center">
                                <span class="d-inline-flex align-items-center justify-content-center">
                                    <img src="{{ advantage.icon.thumb(32, 32, {"mode": "crop"}) }}" alt="{{ advantage.icon.description }}">
                                </span>
                            </p>
                        {% endif %}

                        {% if advantage.excerpt %}
                            <div class="excerpt text-center fs-13">
                                {{ advantage.excerpt|raw }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
