url = "/"
layout = "default"
title = "Hotel"
description = "Hotel"
meta_title = "Hotel"
meta_description = "Hotel"

[collection banners]
handle = "Homepage\Banner"

[section content]
handle = "Homepage\Content"

[Gallery galleryswiper]

[viewBag]
localeTitle[en-gb] = "Hotel"
localeDescription[en-gb] = "Hotel"
localeMeta_title[en-gb] = "Hotel"
localeMeta_description[en-gb] = "Hotel"
localeTitle[de] = "Hotel"
localeDescription[de] = "Hotel"
localeMeta_title[de] = "Hotel"
localeMeta_description[de] = "Hotel"
localeTitle[pl] = "Hotel"
localeDescription[pl] = "Hotel"
localeMeta_title[pl] = "Hotel"
localeMeta_description[pl] = "Hotel"
==
<?php
use LZaplata\Gallery\Models\Gallery;

    function onStart() {
        $gallery = Gallery::find($this["content"]["gallery"] ?? null);

        $this["gallerySlug"] = $gallery->slug;
    }
?>
==
{% if reviews.trustyou_score_widget %}
    <div class="position-absolute start-0 ms-3 mt-3" id="trustyou-score-widget">
        {{ reviews.trustyou_score_widget|raw }}
    </div>
{% endif %}

{% partial "banner/default" banners=banners %}

{% partial "chessboard/default" chessboard=content.chessboard %}

{% if content.advantages_enabled and content.advantages.count > 0 %}
    {% partial ["advantages/", content.advantages_layout]|join advantages=content.advantages %}
{% endif %}

{% if content.booking_widget and booking.widget %}
    <div class="container-fluid py-5 bg-gray-100" id="booking">
        <div class="container-lg py-xl-5">
            {% if booking.service == "previo" %}
                <!-- <script type="text/javascript" src=https://booking.previo.cz/iframe/></script>https://booking.previo.cz/?hotId=761806&lang=cs

                <iframe src="{{ booking.widget }}" frameborder="0" class="w-100" height="936"></iframe> -->
                
                <script type="text/javascript" src="https://booking.previo.app/iframe/"></script>
                <iframe src="{{ booking.widget }}" class="w-100" height="936" scrolling="no" frameborder="0" width="100%" name="previo-booking-iframe" id="previo-booking-iframe" allowTransparency="true"></iframe>                
            {% endif %}
        </div>
    </div>
{% endif %}

{% if content.reviews_widget and reviews.widget %}
    <div class="container-fluid bg-gray-100" id="reviews">
        <div class="container-lg {{ content.booking_widget ? 'pb-xl-5' : 'py-xl-5' }}">
            {% partial ["reviews/", reviews.service]|join reviews=reviews %}
        </div>
    </div>
{% endif %}

{% if content.gallery_enabled and content.gallery %}
    <div class="container-fluid py-5" id="gallery">
        <div class="py-xl-5">
            {% component "galleryswiper" gallery=gallerySlug %}

            <div class="mt-4 text-center">
                <a href="{{ 'galerie'|page }}" class="btn btn-outline-white">
                    {{ "button.whole_gallery"|_ }}
                </a>
            </div>
        </div>
    </div>
{% endif %}

<div class="container-fluid pb-5" id="banner">
    <div class="pb-xl-5 text-center">
        <a href="https://www.kudyznudy.cz/?utm_source=kzn&utm_medium=partneri_kzn&utm_campaign=banner" target="_blank"><img src="https://www.kudyznudy.cz/getmedia/b0b1f35a-cb41-43f8-b852-055717b8baf8/1012102023-online-bannery-hq-970x310.jpg.aspx" width="970"  height="310" alt="Kudyznudy.cz – nejlepší začátek výletu"></a>
    </div>
</div>