url = "/"
layout = "default"
title = "Úvod"

[collection banners]
handle = "Homepage\Banner"

[section content]
handle = "Homepage\Content"

[Gallery gallery]
==
<?php
    use LZaplata\Gallery\Models\Gallery;

    function onStart() {
        $gallery = Gallery::find($this["content"]["gallery"] ?? null);

        $this["gallerySlug"] = $gallery->slug;
    }
?>
==
{% partial "banner/default" banners=banners %}

{% if content.chessboard.count > 0 %}
    <div id="chessboard">
        {% for row in content.chessboard %}
            <div class="container-fluid py-5 {% if loop.index is even %}bg-gray-100{% endif %}">
                <div class="container-lg py-xl-5">
                    <div class="row row-cols-1 row-cols-md-2 g-md-5 g-xl-100">
                        <div class="col order-2 mt-4 mt-md-5 mt-xl-100 {% if loop.index is odd %}order-md-1{% endif %} d-md-flex align-items-md-center">
                            <div>
                                <p class="h2 mb-3 mb-xl-4">
                                    {{ row.heading }}
                                </p>

                                {% if row.content %}
                                    <div class="content">
                                        {{ row.content|raw }}
                                    </div>
                                {% endif %}

                                {% if row.buttons.count > 0 or row.booking_button %}
                                    <div class="mt-4 d-flex gap-2">
                                        {% for button in row.buttons %}
                                            <a href="{{ button.link }}" class="btn btn-outline-white btn-sm">
                                                {{ button.label }}
                                            </a>
                                        {% endfor %}

                                        {% if row.booking_button %}
                                            <a href="{{ booking.link }}">
                                                <a href="{{ booking.link }}" target="_blank" class="btn btn-green align-items-center d-inline-flex">
                                                    <img src="{{ 'assets/images/icons/bookmark.svg'|theme }}" alt="" class="me-1"> {{ "button.booking"|_ }}
                                                </a>
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col order-1 {% if loop.index is odd %}order-md-2{% endif %}">
                            {% if row.image %}
                                <p class="mb-0 h-md-100 img position-relative {% if loop.index is even %}left{% endif %}">
                                    <img src="{{ row.image.path }}" alt="{{ row.image.description }}" class="img-fluid h-md-100 of-md-cover">
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if content.advantages_enabled and content.advantages.count > 0 %}
    {% partial ["advantages/", content.advantages_layout]|join advantages=content.advantages %}
{% endif %}

{% if content.booking_widget and booking.widget %}
    <div class="container-fluid py-5 bg-gray-100" id="booking">
        <div class="container-lg py-xl-5">
            {% if booking.service == "previo" %}
                <script type="text/javascript" src=https://booking.previo.cziframe/></script>

                <iframe src="{{ booking.widget }}" frameborder="0" class="w-100" height="936"></iframe>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if content.reviews_widget and reviews.widget %}
    <div class="container-fluid bg-gray-100" id="reviews">
        <div class="container-lg {{ content.booking_widget ? 'pb-xl-5' : 'py-xl-5' }}">
            {% partial ["reviews/", reviews.service]|join reviews=reviews %}
        </div>
    </div>
{% endif %}

{% if content.gallery_enabled and content.gallery %}
    <div class="container-fluid py-5" id="gallery">
        <div class="py-xl-5">
            {% component "gallery" gallery=gallerySlug %}

            <div class="mt-4 text-center">
                <a href="{{ 'galerie'|page }}" class="btn btn-outline-white">
                    {{ "button.whole_gallery"|_ }}
                </a>
            </div>
        </div>
    </div>
{% endif %}

{% if banners.getIterator().count > 0 %}
    {% put scripts %}
        <script>
            var bannerSwiper = new Swiper(".banner-swiper", {

            });
        </script>
    {% endput %}
{% endif %}
